actions==1.0.3
backports.functools-lru-cache==1.5
behave==1.2.6
behave-webdriver==0.2.2
bunch==1.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.7.4
crayons==0.2.0
docopt==0.6.2
environment==1.0.0
Flask==1.0.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
parse==1.12.0
parse-type==0.4.2
pip-tools==3.6.1
pipreqs==0.4.9
pkg-resources==0.0.0
requests==2.21.0
runwith==0.1.0
selene==1.0.0a13
selenium==4.0.0a1
six==1.12.0
urllib3==1.24.1
webdriver-manager==1.7
Werkzeug==0.15.2
yarg==0.1.9
